{% extends 'blog/base.html' %}
{% block content %}
    <div class="centerstage">
        {% for post in post_list %}
            <div class="post">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            </div>
            <div class="dates">
                <p>Dodany: {{ post.published_date|date:"d M Y" }}</p>
            </div>
            <a href="{% url 'post_detail' pk=post.pk %}">Liczba komentarzy: {{ post.approve_comments.count }}</a>
        {% endfor %}
    </div>
{% endblock %}